.parent {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 50px repeat(2, 1fr) 50px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.topMenu {
  grid-area: 1 / 1 / 2 / 4;
}
.leftMenu {
  grid-area: 2 / 1 / 4 / 2;
}
.mainView {
  grid-area: 2 / 2 / 4 / 3;
}
.rightMenu {
  grid-area: 2 / 3 / 4 / 4;
}
.bottomMenu {
  grid-area: 4 / 1 / 5 / 4;
}
